res1 {}
res2 = "Expected value of type `Function0`, but got type `(unknown) -> unknown`. Value: (unknown) -> unknown"
res3 = "Expected value of type `Function1`, but got type `() -> unknown`. Value: () -> unknown"
res4 = "Expected value of type `Function2`, but got type `(unknown) -> unknown`. Value: (unknown) -> unknown"
